
.footer{
  font-size: 0.7em;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


// TODO ADD THEMING

// Date Accessed: 27 July 2024
// The following code snippet modified based on information in this posting.
// URL: https://stackoverflow.com/questions/51928722/how-to-override-bootstrap-theme-colors-in-bootstrapped-react-redux-app

// custom color overrides for bootstrap defaults

$primary:   #13C7CD;
$danger:    #FF0000;


// import 'bootstrap/dist/css/bootstrap.min.css';

// import bootstrap last, so our variables override the defaults
@import 'node_modules/bootstrap/scss/bootstrap';