
.footer{
  font-size: 0.7em;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


// TODO ADD THEMING

// Date Accessed: 27 July 2024
// The following code snippet modified based on information in this posting.
// URL: https://stackoverflow.com/questions/51928722/how-to-override-bootstrap-theme-colors-in-bootstrapped-react-redux-app

// custom color overrides for bootstrap defaults

$primary:     #13C7CD;
$danger:      #FF0000;
$green:       #4A9F79;
$lime-green:  #8E9E4A;

:root {
--bs-green:          #4A9F79;
--primary:          #4A9F79;

}
[data-bs-theme="green"] {

  --bs-body-color: var(--bs-green);
  --bs-body-color-rgb: #{to-rgb($green)};
  --bs-body-bg: var(--bs-lime-green);
  --bs-body-bg-rgb: #{to-rgb($lime-green)};
  --bs-tertiary-bg: #{$green};

  // .dropdown-menu {
  //   --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
  //   --bs-dropdown-link-active-bg: #{$blue-700};
  // }

  // .btn-secondary {
  //   --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
  //   --bs-btn-border-color: #{rgba($white, .25)};
  //   --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
  //   --bs-btn-hover-border-color: #{rgba($white, .25)};
  //   --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
  //   --bs-btn-active-border-color: #{rgba($white, .5)};
  //   --bs-btn-focus-border-color: #{rgba($white, .5)};
  //   --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  // }
}



// import 'bootstrap/dist/css/bootstrap.min.css';

// import bootstrap last, so our variables override the defaults
@import 'node_modules/bootstrap/scss/bootstrap';